{% extends 'base.html' %}

{% block content %}
<h1>articles</h1>
<a href="{% url 'articles:new' %}">new</a>
<hr>
{% for a in articles %}
  <p>글 번호 : {{a.pk}}</p>
  <p>글 제목 : {{a.title}}</p>
  <p>글 내용 : {{a.content}}</p>
  
  <a href="{% url 'articles:detail' a.pk %}">[detail]</a>
  <br>
  <a href="{% url 'articles:edit' a.pk %}">EDIT</a>

  <form action="{% url 'articles:delete' a.pk %}" method="POSt">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form>
  <hr>
{% endfor %}

{% endblock content %}