{% extends 'base.html' %}

{% block content %}
    <h1>{{ user.username }}님의 프로필</h1>
    <div>
        <div>팔로잉 : {{ user.followings.count }} | 팔로워 : {{ user.followers.count }}</div>    
        {% if request.user != user %}
            <form action="{% url 'accounts:follow' user.username %}" method="POST">
                {% csrf_token %}
                {% if request.user in user.followers.all %}
                    <button type="submit" class="btn btn-danger">언팔로우</button>
                {% else %}
                    <button type="submit" class="btn btn-primary">팔로우</button>
                {% endif %}
            </form>
        {% endif %}    

    </div>
    <hr>

    <h5>{{ user.username }}님의 작성글</h5>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in user.movie_set.all %}
            <div class="col">
                <div class="card h-100">
                    {% if movie.image %}
                        <img src="{{movie.image.url}}" />
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.description }}</p>
                        <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-primary">자세히 보기</a>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    <br><br>

    <h5>{{ user.username }}님이 좋아요한 게시물</h5>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in user.like_movies.all %}
            <div class="col">
                <div class="card h-100">
                    {% if movie.image %}
                        <img src="{{movie.image.url}}" />
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.description }}</p>
                        <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-primary">자세히 보기</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <br><br>    
    <a href="{% url 'movies:index' %}" class="btn btn-success">목록보기</a>

{% endblock content %}
