{% extends 'base.html' %}

{% block content %}
<style>
.slide img{
    height: auto;
}

</style>
{% load static %}
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner slide">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="{% static 'disney1.jpg' %}" class="d-block w-100" alt="disney1.jpg">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'disney2.jpg' %}" class="d-block w-100" alt="disney2.jpg">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'disney3.jpg' %}" class="d-block w-100" alt="disney3.jpg">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'disney6.jpg' %}" class="d-block w-100" alt="disney6.jpg">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'disney7.jpg' %}" class="d-block w-100" alt="disney7.jpg">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'disney8.jpg' %}" class="d-block w-100" alt="disney8.jpg">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
  </div>


    <p></p><br>
    <h1>영화 정보</h1>

    {% if user.is_authenticated %}
        <a href="{% url 'movies:create' %}">작성하기</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인 후 작성 가능!!</a>
    {% endif %}

    <hr>
    {% for movie in movies %}
        <a href="{% url 'movies:detail' movie.pk %}">
            <p>{{movie.title}}</p>
        </a>
        <hr>
    {% endfor %}
    

{% endblock content %}

