<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h3>catch! I catch {{ c }}!</h3>


<form action="{% url 'third' %}" method="GET">
  <label for="throw1">and throw!</label>
  <input type="text" id="throw1" name="throw1" value="{{c}}"/>

  <label for="throw2">twice!</label>
  <input type="text" id="throw2" name="throw2" />
  <input type="submit" value="휙">
</form>
</body>
</html>